
a{
	text-decoration: none;
	color:#1F1F1F;
}

li{
	list-style: none;
}
ul{
	padding: 0; margin: 0;
}

header{
	/*HEADSIDE*/
	@import 'components/HeadSide/style.less';
}




.container{
	@overallWidth: 1000px;
	width: @overallWidth;
	margin: auto;
	@import 'components/Targets/style.less';
}
