
@black: #1F1F1F;
@gray: #ACAEB3;

.Targets{
	width: @overallWidth;
	margin: 0 auto;
	.TargetsList{
		@overHeight: 30px;
		margin-top: 10px;
		height: @overHeight;
		background: gray;
		div{
			width: @overallWidth;
			margin: 0 auto;
			.TargetItem{
				font-size: 15px;
				line-height: @overHeight;
				color: @gray;
				background: @black;
				max-width: 100px;
	    		height: @overHeight;
	    		display: inline-block;
	    		text-decoration: none;
	    		padding-left: 2px;
	    		padding-right: 2px;
	    		&:hover{
	    			color: @black;
					background: @gray;
	    		} 
			}
			.active{
				color: @black;
				background: @gray;
			}
		}
	}

	.TargetBlock{
		width: @overallWidth;
		margin-top: 30px;

		position: absolute;
		background: gray;

		.blocks(@background,@position){
			background: @background;			
			float: @position;
			margin: 20px;
			width: 250px;
			min-height: 400px;
			display: inline-block;
			.Task{
				width: 200px;
				margin: 25px;
				background: #B56262;
				border-radius: 3px;
				padding: 5px;
			}
		}

		#notPerfTask{
			.blocks(red,left);

		}
		#PerfTask{
			.blocks(blue,right);
		}
	}
}